node-linker=hoisted
public-hoist-pattern[]=*expo*
public-hoist-pattern[]=*react-native*
public-hoist-pattern[]=*@expo*
public-hoist-pattern[]=*@babel*
supportedArchitectures.os[]=darwin
supportedArchitectures.cpu[]=arm64
supportedArchitectures.libc[]=unknown
